// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Fontsï¼šNoto Serif JP
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@900&display=swap');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
